@import "./vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

// General

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--background);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Arvo", serif
}

a {
  color: var(--link);
  font-weight: 700;
  text-decoration: none;
}

.heading {
  font-size: 36px;
}
.uppercase {
  text-transform: uppercase;
}
.section-header {
  text-align: center;
}
// Bio

.bio {
  align-items: center;
  background: url(assets/website-cover.png);
  background-size: cover;
  display: flex;
  font-size: 24px;
  height: 100vh;
  justify-content: center;

  .bio--textbox {
    background: rgba(255, 245, 215, 0.5);
    border-radius: var(--border-radius-sm);
    max-width: 570px;
    padding: 40px;
  }
}

// Experience

.experience {}

// Projects

.side-projects {
  .projects {
    display: flex;
    justify-content: center;
  }
  .project {
    background: var(--black);
    border-radius: var(--border-radius--lg);
    color: var(--border);
    max-width: 452px;
    margin: 30px;
    padding: 20px;
    transition: all .2s ease-in-out;
  }
  .project:hover {
    transform: scale(1.1);
  }
  .project--image {
    border-radius: var(--border-radius--sm);
    margin: auto;
    max-width: 412px;
  }
  .project--title {
    color: var(--text-light);
    font-size: 14px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
  }
}
