:root {
  --background: #fff5d7;
  --border: #e1e1e6;
  --button: #ffaaab;
  --text: #2f1627;
  // tones
  --background--dark: #feb300;
  // colors
  --white: #ffffff;
  // flair
  --border-radius: 10px;
}
