:root {
  --background: #fff5d7;
  --border: #e1e1e6;
  --button: #ffaaab;
  --text: #2f1627;
  // tones
  --background--dark: #feb300;
  --text-light: #ff5e6c;
  // colors
  --white: #ffffff;
  --black: #000000;
  // flair
  --border-radius--sm: 10px;
  --border-radius--lg: 15px;
}
